
 /* Responsive Media Query */

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
  /* comon style */
.display-none{
  display: none;
}
.comon-title{
  font-size: 1.5rem;
}
/* comon style */
section{
    padding: 0 14px;
    margin-bottom: 65px;
}



.header-area{
    margin-bottom: 65px;
}
.brand, .shopping-card{
  max-width: 100%;
}
.shopping-logo{
  max-width: 63px;
}
.display-none{
  display: none;
}
.brand img{
  max-width: 63px;
}
/* Hero Section Start */
.hero-section{
  flex-direction: column;
}
.hero-left{
  order: 1;
  width: 100%;
}
.hero-right{
  order: 0;
  width: 100%;
}
.hero-title{
  font-size: 1.5rem;
  width: 70%;
  margin-top: 28px;
  margin-bottom: 12px;
}
.hero-subtitle{
  font-size: 0.875rem;
}
/* Our Plants Section Start */
.comon-title{
  font-size: 1.5rem;
}
.section-subtitle{
  max-width: 336px;
  font-size: 0.875rem;
  margin-top: 15px;
  margin-bottom: 28px;
  
}
.our-plants-card{
  max-width: 170px;
}
.our-plants-cards-container{
  grid-template-columns: repeat(2, 170px);
}
.our-plants-card h5{
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.our-plants-card h4{
  font-size: 1rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.our-plants-card a{
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  padding: 19px 0;
}
/* Flower & Plants Lover */
.plannts-lover{
  flex-direction: column;
  padding-top: 0;
  gap: 18px;
}
.plannts-lover-image,
.plannts-lover-info{
  max-width:100%;
}
.plannts-lover-image figure{
  width: 100%;
}
.plannts-lover-info{
  padding-left: 0;
 }
.plannts-lover-title{

  font-size: 1.5rem;
  padding: 0;
}
.plannts-lover-info ul {
  padding-left: 27px;
  margin-top: 16px;
}
 .plannts-lover-info ul li{
  font-size: 0.875rem;
  margin-bottom: 16px;}

/* Latest  Deals section start */
.latest-deals-main-container{
  grid-template-columns: 1fr;
}

.latest-deals-box h4{
  font-size: 1.25rem !important;
}
.latest-deals-box a{
  font-size: 1rem !important;
}





















}



/* // `md` applies to small devices (landscape phones, less than 768px) */ 
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media screen and (min-width: 576px) and (max-width: 991.98px) { 
  /* comon style */
.display-none{
  display: none;
}

.brand img{
  max-width: 80px;
}
/* Hero Section Start */
.hero-title{
  font-size: 2rem;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 12px;
}
.hero-subtitle{
  font-size: 0.875rem;
}
/* Our Plants Section Start */
.comon-title{
  font-size: 2rem;
}
.section-subtitle{
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 28px;
}

.our-plants-cards-container{
  grid-template-columns: repeat(3, 170px);
}
.our-plants-card h5{
  font-size: 1rem;
}
.our-plants-card h4{
  font-size: 1rem;
}
.our-plants-card a{
  font-size: 1rem;
  padding: 19px 0px;
}
/* Flower & Plants Lover */
.plannts-lover{
  flex-direction: column;
  padding-top: 0;
  gap: 18px;
}
.plannts-lover-image,
.plannts-lover-info{
  max-width:100%;
  margin: 0 auto;

}
.plannts-lover-image figure{
  width: 100%;
}
.plannts-lover-info{
  padding-left: 0;
 }
.plannts-lover-title{

  font-size: 2rem;
  padding: 0;
}
.plannts-lover-info ul {
  padding-left: 27px;
  margin-top: 16px;
}
 .plannts-lover-info ul li{
  font-size: 1rem;
  margin-bottom: 16px;}
/* Latest  Deals section start */
.latest-deals-main-container{
  grid-template-columns: 1fr;
  padding: 0 20px;
}

.latest-deals-box h4{
  font-size: 1.25rem !important;
}
.latest-deals-box a{
  font-size: 1rem !important;
}









 }