
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* .noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F8FF;
}

section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.comon-title-color{
  color: #E95A08;
}
.comon-title{
  color: #000000;
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
}
.section-subtitle{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 888px;
  font-size: 1.375rem;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* Header Section start */
.header-area{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.brand img{
  max-width: 135px;
}
.navber{
    padding-top: 20px;
}
.nav-link{
  padding: 5px 4px;
}
.shopping-logo{
  max-width: 113px;
}
.nav-box ul{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  margin-right: 48px;

}
.menubar ul li a{
    color: #8987A1;
    font-size: 1rem;
    font-weight: 700;
    transition: all linear .3s;
}
.menubar ul li a:hover, 
.menubar ul li a:active{
    color: #252432;
}
.shopping-card a{
    color: #252432;
    font-size: 1rem;
    font-weight: 700;
}

/* Hero Section Start */
.header-area{
  padding: 0;
}
.hero-left, 
.hero-right{
  width: 50%;
}
.hero-left, .navber{
  
  padding: 0 20px;
  margin-top: 13px;
}
.hero-title{
  font-size: 4.063rem;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.hero-subtitle{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.hero-right img{
  margin-top: 28px;
}
/* Our Plants Section Start */


.our-plants-card{
  text-align: center;
  max-width: 270px;
  
}
.our-plants-card h5{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #111111;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.our-plants-card h4{
  color: #111111;
  font-size: 1.375rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}
.our-plants-card a{
  display: block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding: 19px 0;
  background-color: #E95A08;
  transition: all linear .3s;
}
.our-plants-card a:hover{
  background-color: #111111;
}
.our-plants-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px;
  justify-content: center;
}
/* Flower & Plants Lover */
.plannts-lover{
  gap: 60px;
  padding-top: 50px;
  margin: 0 auto;
}
.plannts-lover-image,
.plannts-lover-info{
  max-width: 50%;
}
.plannts-lover-image{
  position: relative;
}
.plannts-lover-image figure{
  max-width: 540px;
}
.plannts-lover-bedge{
  position: absolute;
  top: -116px;
  right: -100px;
  object-fit: cover;
  max-width: 286px;
}
 .plannts-lover-info{
  padding-left: 15px;
 }
 .plannts-lover-info ul {
  list-style-type: disc;
  max-width: 540px;
  padding-left: 60px;
  margin-top: 20px;

}
 .plannts-lover-info ul li{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.plannts-lover-title{
  color: #000000;
  font-size: 3.125rem;
  font-weight: 700;
  padding: 0 15px;
}
/* Latest  Deals section start */
.latest-deals-main-container{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  gap: 25px;
}
.latest-deals-box-one{
  background-image: url('../assets/deal-bloom.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.latest-deals-box-two{
  background-image: url('../assets/deal-zabo.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}
.latest-deals-box-two h4 {
  font-size: 2.5rem !important;
}
.latest-deals-box-two a {
  font-size: 1.75rem !important;
}
.latest-deals-box-three{
  background-image: url('../assets/deal-ana.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.latest-deals-box{
  text-align: center;
  padding: 65px 0;
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.latest-deals-box h4,
.latest-deals-box a
{
  position: relative;
}
.latest-deals-box::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.latest-deals-box-two{
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.latest-deals-box h4{
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  margin-bottom: 19px;
}
.latest-deals-box a{
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-decoration-line: underline;
  padding: 5px;
}
/* Join the colorful Bunch section start */
.news-letter{
  width: 100%;
  background-image: url('../assets/news-letter-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 195px 0;
}
.news-letter h3{
  color: #ffffff;
  margin-bottom: 23px;
}
.news-letter form{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 830px;
  color: rgba(0, 0, 0, .5);
  background-color: #ffffff;
}
.news-letter form .news-letter-email{
  width: 75%;
  padding: 15px 20px;
  outline: none;
  border: 1px solid #ffffff;
  transition: all linear .3s;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.news-letter form .news-letter-email:focus{
  border: 1px solid #E95A08;
}

.news-letter form .news-letter-btn{
  padding: 19px 53px;
  background-color: #E95A08;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  transition: all linear .3s;
}
.news-letter form .news-letter-btn:hover{
  background-color: #111111;
}
/* Footer Section Start  */
 .footer-area{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 20px;
 }
.footer-box img{
  max-width: 135px;
  margin-bottom: 16px;
}
.footer-box p{
color:rgba(0, 0, 0, 0.5);
font-size: 1.375rem;
font-weight: 400;
font-family: "Inter", sans-serif;
padding-right:60px;
}
.footer-box ul li{
  margin-bottom: 26px
}
.footer-box ul li a{
color: #6B7280;
font-size: 1rem;
font-weight: 400;
font-family: "Inter", sans-serif;
transition: all linear .3s;
}
.footer-box ul li a:hover{
color: #E95A08;
}
.social-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
























