
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* .noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F8FF;
}

section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 120px;
}
.comon-title-color{
  color: #E95A08;
}
.comon-title{
  color: #000000;
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
}
.section-subtitle{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 888px;
  font-size: 1.375rem;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* Header Section start */
.header-area{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.brand img{
  max-width: 135px;
}
.navber{
    padding-top: 20px;
}
.nav-link{
  padding: 5px 4px;
}
.shopping-logo{
  max-width: 113px;
}
.nav-box ul{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  margin-right: 48px;

}
.menubar ul li a{
    color: #8987A1;
    font-size: 1rem;
    font-weight: 700;
    transition: all linear .3s;
}
.menubar ul li a:hover, 
.menubar ul li a:active{
    color: #252432;
}
.shopping-card a{
    color: #252432;
    font-size: 1rem;
    font-weight: 700;
}

/* Hero Section Start */
.header-area{
  padding: 0;
}
.hero-left, 
.hero-right{
  width: 50%;
}
.hero-left, .navber{
  
  padding: 0 20px;
  margin-top: 13px;
}
.hero-title{
  font-size: 4.063rem;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.hero-subtitle{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.hero-right img{
  margin-top: 28px;
}
/* Our Plants Section Start */


.our-plants-card{
  text-align: center;
  max-width: 270px;
  
}
.our-plants-card h5{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #111111;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.our-plants-card h4{
  color: #111111;
  font-size: 1.375rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}
.our-plants-card a{
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding: 19px 80px;
  background-color: #E95A08;
  transition: all linear .3s;
}
.our-plants-card a:hover{
  background-color: #111111;
}
.our-plants-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px;
  justify-content: center;
}






















 .footer-area{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
 }
 .footer-area{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
 }



























